{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/styleInventory.css') }}" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/css/bootstrap.min.css">
{% endblock %}

{% block body %}
<div class="container">
    <div class="row" style="margin-left: 200px">

        <!-- Inventory table section -->
        <div class="col-lg-12 d-flex align-items-stretch">
            <div class="card w-100">
                <div class="card-body p-4">
                    <h5 class="card-title fw-semibold mb-4">Gestion de l'inventaire</h5>
                    
                    <!-- Formulaire de recherche -->
                    <form method="get" action="{{ path('app_inventory') }}" class="form-inline mb-4">
                        <input type="text" name="search" placeholder="Rechercher..." value="{{ app.request.query.get('search') }}" class="form-control">
                        </br>
                        <button type="submit" class="btn btn-primary ms-2"><i class="fas fa-search"></i> Filtrer</button>
                    </form>

                    <!-- Formulaire d'import -->
                    <form action="{{ path('app_inventory_import') }}" method="post" enctype="multipart/form-data" class="form-inline mb-4">
                        <input type="file" name="file" accept=".csv" class="form-control">
                        </br>
                        <button type="submit" class="btn btn-success ms-2"><i class="fas fa-file-import"></i> Importer</button>
                    </form>

                    <!-- Tableau d'inventaire -->
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered text-nowrap align-middle">
                            <thead class="text-dark fs-4">
                                <tr>
                                    <th>Type Actif</th>
                                    <th>Fournisseur</th>
                                    <th>Date d'arrivée</th>
                                    <th>Numéro de Série</th>
                                    <th>Numéro de Facture</th>
                                    <th>Numéro Facture Interne</th>
                                    <th>Prix Neuf</th>
                                    <th>Numéro de produit de la série</th>
                                    <th>Nombre total de produits dans le lot</th>
                                    <th>Nom de la Salle</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for inventory in inventories %}
                                    <tr>
                                        <td>{{ inventory.activeType }}</td>
                                        <td>{{ inventory.provider }}</td>
                                        <td>{{ inventory.dateEntry ? inventory.dateEntry|date('Y-m-d') }}</td>
                                        <td>{{ inventory.numSerie }}</td>
                                        <td>{{ inventory.numInvoice }}</td>
                                        <td>{{ inventory.numInvoiceIntern }}</td>
                                        <td>{{ inventory.price }}</td>
                                        <td>{{ inventory.numProductSerie }}</td>
                                        <td>{{ inventory.totalProductLot }}</td>
                                        <td>{{ inventory.nameRoom }}</td>
                                        <td>
                                            <form action="{{ path('app_inventory_delete', {'id': inventory.id}) }}" method="post" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cet élément ?');">
                                                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ inventory.id) }}">
                                                <button class="btn btn-danger btn-sm"><i class="fas fa-trash-alt"></i></button>
                                            </form>
                                          </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    
                    <!-- Bouton d'export CSV -->
                    <a href="{{ path('app_inventory_export') }}" class="btn btn-primary mt-4"><i class="fas fa-file-export"></i> Exporter en CSV</a>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="{{ asset('js/confirmDelete.js') }}"></script>
{% endblock %}
