{% extends 'base.html.twig' %}

{% block title %}Inventaire{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    table { width: 100%; border-collapse: collapse; }
    th, td { border: 1px solid #ddd; padding: 8px; }
    th { background-color: #f2f2f2; }
</style>
<div class="example-wrapper">
    <h1>Inventaire</h1>
    
    <form action="{{ path('app_inventaire_import') }}" method="post" enctype="multipart/form-data">
        <input type="file" name="file" accept=".csv">
        <button type="submit">Importer</button>
    </form>

    {% for label, messages in app.flashes %}
        <div class="alert alert-{{ label }}">
            {% for message in messages %}
                <p>{{ message }}</p>
            {% endfor %}
        </div>
    {% endfor %}

    <a href="{{ path('app_inventaire_export') }}" class="btn btn-primary">Exporter en CSV</a>


    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Active Type</th>
                <th>Price</th>
                <th>Num Product Serie</th>
                <th>Total Product Lot</th>
                <th>Provider</th>
                <th>Date Entry</th>
                <th>Num Serie</th>
                <th>Num Invoice Intern</th>
                <th>Num Invoice</th>
            </tr>
        </thead>
        <tbody>
            {% for inventory in inventories %}
                <tr>
                    <td>{{ inventory.id }}</td>
                    <td>{{ inventory.activeType }}</td>
                    <td>{{ inventory.price }}</td>
                    <td>{{ inventory.numProductSerie }}</td>
                    <td>{{ inventory.totalProductLot }}</td>
                    <td>{{ inventory.provider }}</td>
                    <td>{{ inventory.dateEntry ? inventory.dateEntry|date('Y-m-d') : '' }}</td>
                    <td>{{ inventory.numSerie }}</td>
                    <td>{{ inventory.numInvoiceIntern }}</td>
                    <td>{{ inventory.numInvoice }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}