{# {% extends 'base.html.twig' %} #}

{# {% block title %}Log in!{% endblock %} #}

{% block stylesheets %}
    <link rel="stylesheet" href="{{asset('css/styleRegister.css')}}" type="text/css">
{% endblock %}

{% block body %}
<div class="container">
    <div class="left-side"></div>
    <div class="right-side">
        <form method="post" class="login-form">
            <div class="logo-container">
                <img src="{{ asset('asset/logo.png') }}" alt="Logo" class="logo">
            </div>

            {% if form_errors(registrationForm) %}
                <div class="alert">
                    {{ form_errors(registrationForm) }}
                </div>
            {% endif %}

            {{ form_start(registrationForm) }}
                    <div class="form-group">
                        {{ form_label(registrationForm.username, 'Nom d\'Utilisateur :') }}
                        {{ form_widget(registrationForm.username, {'attr': {'class': 'form-control'}}) }}
                    </div>

                    <div class="form-group">
                        {{ form_label(registrationForm.plainPassword, 'Mot de Passe :') }}
                        {{ form_widget(registrationForm.plainPassword, {'attr': {'class': 'form-control'}}) }}
                    </div>

                    <div class="form-group">
                        <div class="form-check">
                            {{ form_widget(registrationForm.agreeTerms, {'attr': {'class': 'form-check-input'}}) }}
                            {{ form_label(registrationForm.agreeTerms, null, {'label_attr': {'class': 'form-check-label'}}) }}
                        </div>
                    </div>

            <button type="submit" class="btn btn-primary btn-block">Inscription</button>
            {{ form_end(registrationForm) }}
        </form>
    </div>
</div>
{% endblock %}
