{# {% extends 'base.html.twig' %}

{% block title %}Register{% endblock %} #}

{% block stylesheets %}
    <link rel="stylesheet" href="{{asset('css/styleRegister.css')}}" type="text/css">
{% endblock %}

{% block body %}
    <div class="register-container">
        <div class="left-side"></div>
        <div class="right-side">
            <div class="register-form">
                <h1>Register</h1>

                {% if form_errors(registrationForm) %}
                    <div class="alert">
                        {{ form_errors(registrationForm) }}
                    </div>
                {% endif %}

                {{ form_start(registrationForm) }}
                    <div class="form-group">
                        {{ form_label(registrationForm.username) }}
                        {{ form_widget(registrationForm.username, {'attr': {'class': 'form-control'}}) }}
                    </div>

                    <div class="form-group">
                        {{ form_label(registrationForm.plainPassword, 'Password') }}
                        {{ form_widget(registrationForm.plainPassword, {'attr': {'class': 'form-control'}}) }}
                    </div>

                    <div class="form-group">
                        {{ form_label(registrationForm.etablishment) }}
                        {{ form_widget(registrationForm.etablishment, {'attr': {'class': 'form-control'}}) }}
                    </div>

                    <div class="form-group">
                        {{ form_widget(registrationForm.agreeTerms) }}
                        {{ form_label(registrationForm.agreeTerms) }}
                    </div>

                    <button type="submit" class="btn btn-primary btn-block">Register</button>
                {{ form_end(registrationForm) }}
            </div>
        </div>
    </div>
{% endblock %}