{# {% extends 'base.html.twig' %} #}

{% block body %}
<div class="container">
    <h1>Créer un nouvel établissement</h1>
    {{ form_start(etablishmentForm) }}
        <div class="form-group">
            {{ form_label(etablishmentForm.name) }}
            {{ form_widget(etablishmentForm.name, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="form-group">
            {{ form_label(etablishmentForm.adress) }}
            {{ form_widget(etablishmentForm.adress, {'attr': {'class': 'form-control'}}) }}
        </div>
        <button type="submit" class="btn btn-primary">Créer</button>
    {{ form_end(etablishmentForm) }}
</div>
{% endblock %}