{% extends 'base.html.twig' %}

{% block title %}Liste des Utilisateurs{% endblock %}

{# {% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/styleDashboard.css') }}">
{% endblock %} #}

{% block body %}

<div class="divcontainer">
    <h1>Notifications <span><img src="{{ asset('asset/icons/blackbell.png') }}" class="ti icon"></span></h1>
    <div class="list-table">
        <div class="user-list-header">
            <button class="view-more {{ app.session.get('theme', 'theme1') }}-button">En Voir <img src="{{ asset('asset/icons/plus.png') }}" class="ti iconplus"></button>
        </div>

        <div class="user-list">
            
                <div class="user-row">
                    <span class="user-info"></span>
                    <div class="actions">
                        <button class="btn notif"><img src="{{ asset('asset/icons/trash.png') }}" class="ti icon"></button>
                    </div>
                </div>
                <p>Aucune Notification.</p>
        </div>
    </div>
    <h1>Demandes <span><img src="{{ asset('asset/icons/demande.png') }}" class="ti icon"></span></h1>
    <div class="list-table">
        <div class="user-list-header">
            <button class="view-more {{ app.session.get('theme', 'theme1') }}-button">En Voir <img src="{{ asset('asset/icons/plus.png') }}" class="ti iconplus"></button>
        </div>

        <div class="user-list">
            
                <div class="user-row">
                    <span class="user-info"></span>
                    <div class="actions">
                        <button class="btn check"><img src="{{ asset('asset/icons/check.png') }}" class="ti icon"></button>
                        <button class="btn notif"><img src="{{ asset('asset/icons/trash.png') }}" class="ti icon"></button>
                    </div>
                </div>
                <p>Aucune Demandes.</p>
        </div>
    </div>
    <h1>Utilisateurs <span><img src="{{ asset('asset/icons/userblack.png') }}" class="ti icon"></span></h1>
    <div class="list-table">
        <div class="user-list-header">
            <button class="view-more {{ app.session.get('theme', 'theme1') }}-button">En Voir <img src="{{ asset('asset/icons/plus.png') }}" class="ti iconplus"></button>
        </div>

        <div class="user-list">
            {% for user in users %}
                <div class="user-row">
                    <span class="user-info">{{ user.username }}</span>
                    <span class="user-info">{{ user.email }}</span>
                    <div class="actions">
                        <button class="btn settings"><img src="{{ asset('asset/icons/manager.png') }}" class="ti icon"></button>
                        <button class="btn email"><img src="{{ asset('asset/icons/message.png') }}" class="ti icon"></button>
                    </div>
                </div>
            {% else %}
                <p>Aucun utilisateur trouvé.</p>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
